// Prefix elements
// @author Diego Molina Vera 2017 - 2019
@mixin prefix($declarations) {
  $prefixes: '-webkit-', '-moz-', '-ms-', '';

  @each $property,
  $value in $declarations {
    @each $prefix in $prefixes {
      #{$prefix + $property}: $value;
    }
  }
}

// Generate keyframes with prefixed elements
// @author Diego Molina Vera 2017 - 2019
@function is-prefixed($element) {
  $prefixElements: 'animation', 'box-reflect', 'box-shadow', 'filter', 'font-feature-settings', 'mask-image', 'transform', 'appearance', 'stroke', 'border-radius', 'linear-gradient';
  $prefixed: false;

  @each $prefixElement in $prefixElements {
    @if str-index(#{$element}, $prefixElement) {
      $prefixed: true;
    }
  }

  @return $prefixed;
}

@mixin setPrefix($prefix, $percent, $listValues) {
  #{$percent} {
    @each $prop in $listValues {
      @if is-prefixed(nth($prop, 1)) {
        -#{$prefix}-#{nth($prop, 1)}: #{nth($prop, 2)};
      }

      @else if is-prefixed(nth($prop, 2)) {
        #{nth($prop, 1)}: -#{$prefix}-#{nth($prop, 2)};
      }

      @else {
        #{nth($prop, 1)}: #{nth($prop, 2)};
      }
    }
  }
}

@mixin frames($name, $elements) {
  @keyframes #{$name} {

    @each $percent,
    $listValues in $elements {
      #{$percent} {
        @each $prop in $listValues {
          #{nth($prop, 1)}: #{nth($prop, 2)};
        }
      }
    }
  }

  @-webkit-keyframes #{$name} {

    @each $percent,
    $listValues in $elements {
      @include setPrefix('webkit', $percent, $listValues);
    }
  }

  @-moz-keyframes #{$name} {

    @each $percent,
    $listValues in $elements {
      @include setPrefix('moz', $percent, $listValues);
    }
  }

  @-o-keyframes #{$name} {

    @each $percent,
    $listValues in $elements {
      @include setPrefix('o', $percent, $listValues);
    }
  }
}